/*Nav css goes here*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  box-sizing: inherit;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
/*End nav css*/
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.container {
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.menu-icons {
  color: #eee;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  z-index: 1000;
  display: none;
}
nav {
  width: 100%;
  background-color: lightcoral;
  height: 8rem;
  border-bottom: 1px solid rgba(225, 255, 255, 0.1);
}
.logo {
  height: 5rem;
  width: 5rem;
  background-color: #eb3007;
  display: flex;
  border-radius: 100%;
  margin-right: 5rem;
  /* justify-content: center;
  align-items: center; */
}

.logo i {
  margin: auto;
  font-size: 3rem;
  color: #eee;
}
.nav-list {
  display: flex;
}

.nav-list > li {
  line-height: 8rem;
  position: relative;
  /*he talk something about border-bottom*/
}
.sb-menu > li {
  line-height: 4rem;
}
.nav-list a {
  color: #eee;
  font-size: 1.4rem;
  display: block;
  text-transform: uppercase;
  padding: 0 1.5rem;
  transition: color 0.6s;
}

.nav-list a:hover {
  color: #eb3007;
}
.btn {
  border: 2px solid #eb3007;
  border-radius: 5rem;
  display: inline-block;
  transition: background-color 0.5s;
  background-color: #eb3007;
  padding: 1.3rem;
}
.btn:hover {
  color: #eb3007;
  background-color: rgba(0, 0, 0, 0.2);
}
.sb-menu {
  width: 20rem;
  display: block;
  position: absolute;
  border-top: 3px solid #eb3007;
  background-color: #191919;
  z-index: 100;
  visibility: hidden;
  opacity: 1;
  top: 16rem;
  transition: all 0.6s ease;
}
.sb-menu::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 3rem;
  border: 1.2rem solid transparent;
  border-bottom-color: #eb3007;
}
.sb-menu .sb-menu::before {
  left: -2.5rem;
  top: 0.9rem;
  border: 1.2rem solid transparent;
  border-right-color: #eb3007;
}
.sb-menu .sb-menu {
  border-top: none;
  border-left: 3px solid #eb3007;
  top: 0;
  left: 150%;
}
.nav-list li:hover > .sb-menu {
  top: 8rem;
  left: 100%;
  opacity: 1;
  visibility: visible;
}
*/
/*Hero*/
.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/bg.jpg") center no-repeat;
  background-size: cover;
}

.text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  text-align: center;
}

.text h1 {
  font-size: 8rem;
  margin: 2rem 0;
  font-family: "Blastimo", sans-serif;
}

.text h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 300;
}

.text p {
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.text .btn {
  font-size: 1.6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #eee;
  text-transform: uppercase;
}

@media screen and (max-width: 830px) {
  .text h1 {
    font-size: 4rem;
  }

  .text .btn {
    font-size: 1.2rem;
  }
}
